/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #fff;
}
.editBtn {
    display: flex;
    justify-content: right;
    margin-top: 10vh;
    margin-right: 10vh;
    background-color: #fff; 
}
.profile {
    text-align: center;
    padding: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

button#editButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    display: block;
    background-color: #fff;
    padding: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.form-row {
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
}

.form-row input[type="text"],
.form-row input[type="tel"],
.form-row input[type="email"],
.form-row input[type="file"] {
    flex: 2;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-row button {
    flex: 1;
    margin-right: 10px;
}
.avatar-label {
    cursor: pointer;
    text-align: center;
}
#cancelButton {
    background-color: #ccc; 
    color: #fff; 
}

#avatarImage {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    transition: transform 0.2s;
}

.info {
    display: block;
    text-align: center;
}
.close {
    float: right;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

form label {
    display: block;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.info_detail {
    text-align: center;
    font-family: Arial, sans-serif;
}

.info_detail div {
    color: #757373;
    margin: 0 auto; 
    max-width: 600px; 
    padding: 10px 0; 
    border-bottom: 1px solid #ddd;
    text-align: left; 
    margin-bottom: 160px;
}


/* Thiết lập cho sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 115px; 
    background-color: #000000; 
    color: #fff;
    padding-top: 30px; 
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #555;
}

.sidebar li:last-child {
    border-bottom: none;
}
.sidebar a:hover {
    color: #ffffff;
}
.sidebar img {
    width: 30px; 
    height: 30px;
    margin-left: 15px; 
    vertical-align: middle;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.e-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}


.e-popup-content {
    text-align: center;
}

/* CSS cho nút đóng */
.e-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

#error-message {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.e-close:hover {
    color: red;
}

.custom-login-button {
    text-align: center; 
    margin: 0 auto; 
    display: flex;
}
.black-btn {
    background-color: black;
    border: none; 
    padding: 10px 20px; 
    cursor: pointer;
}

.black-btn img {
    vertical-align: middle; 
    margin-right: 5px; 
}